<% layout('layouts/boilerplate.ejs') %>

<h2 class="mb-4">Edit <%= movie && movie.title ? movie.title : '' %></h2>

<form action="/movies/<%= movie._id %>?_method=PUT" method="POST">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      value="<%= movie && movie.title ? movie.title : '' %>"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Year</label>
    <input
      type="number"
      name="year"
      class="form-control"
      value="<%= movie && movie.year ? movie.year : '' %>"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Genre</label>
    <input
      type="text"
      name="genre"
      class="form-control"
      value="<%= movie && movie.genre ? movie.genre : '' %>"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea
      name="description"
      rows="4"
      class="form-control"
    ><%= movie && movie.description ? movie.description : '' %></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Thumbnail URL</label>
    <input
      type="text"
      name="thumbnailUrl"
      class="form-control"
      value="<%= movie && movie.thumbnailUrl ? movie.thumbnailUrl : '' %>"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Video URL</label>
    <input
      type="text"
      name="videoUrl"
      class="form-control"
      value="<%= movie && movie.videoUrl ? movie.videoUrl : '' %>"
    />
  </div>

  <button class="btn btn-danger mt-3">Update Movie</button>
</form>
